In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv(r'..\data\crop_yield_data.csv')
print(data.shape)
data.sample(5)

(25345, 395)

,loc_ID,year,yield,W_1_1,W_1_2,W_1_3,W_1_4,W_1_5,W_1_6,W_1_7,...,P_5,P_6,P_7,P_8,P_9,P_10,P_11,P_12,P_13,P_14
9290,253,1984,23.2,1.587302,0.285714,0.000000,0.142857,0.285714,0.142857,1.634921,...,9.0,29.0,29.0,17.0,2.0,4.0,5.0,1.0,0.0,0.0
9338,254,1993,38.2,1.460317,2.730159,1.047619,0.000000,0.000000,0.650794,1.476190,...,10.0,19.0,11.0,15.0,20.0,8.0,4.0,1.0,0.0,0.0
8558,234,1991,39.2,1.793651,0.841270,0.000000,0.000000,0.000000,0.111111,0.126984,...,10.0,14.0,22.0,25.0,15.0,9.0,1.0,0.0,0.0,0.0
17760,676,1984,20.1,0.000000,0.642857,0.755102,1.724490,0.000000,2.877551,3.397959,...,8.0,12.0,6.0,33.0,3.0,9.0,12.0,6.0,0.0,0.0
21292,802,2006,56.8,0.063492,0.015873,0.000000,0.714286,0.396825,0.000000,0.317460,...,40.0,21.0,5.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
data.columns

Index(['loc_ID', 'year', 'yield', 'W_1_1', 'W_1_2', 'W_1_3', 'W_1_4', 'W_1_5',
       'W_1_6', 'W_1_7',
       ...
       'P_5', 'P_6', 'P_7', 'P_8', 'P_9', 'P_10', 'P_11', 'P_12', 'P_13',
       'P_14'],
      dtype='object', length=395)

In [21]:

print(data.isnull().sum().sum())

0

In [31]:
data['year'].unique()

array([1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990,
       1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018], dtype=int64)

In [32]:
data['year'].value_counts()

2000    703
1988    698
1989    692
2002    692
2001    691
1984    690
1998    688
1999    687
1986    687
2004    686
1983    685
1997    685
1985    684
1990    683
1992    682
1981    681
2003    680
1987    680
1991    678
2005    677
1993    674
1982    673
1994    668
1995    665
2006    665
1996    663
2007    663
1980    662
2010    651
2011    614
2009    612
2012    609
2008    593
2014    560
2017    560
2016    550
2013    545
2015    517
2018    472
Name: year, dtype: int64

In [30]:
value_counts = data['loc_ID'].value_counts()
display(value_counts[value_counts <10] )

775    9
576    9
866    8
704    8
875    8
      ..
840    1
748    1
718    1
750    1
998    1
Name: loc_ID, Length: 61, dtype: int64