In [5]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [6]:
data = pd.read_csv(r'..\data\crop_yield_data.csv')
print(data.shape)
data.sample(5)

(25345, 395)

,loc_ID,year,yield,W_1_1,W_1_2,W_1_3,W_1_4,W_1_5,W_1_6,W_1_7,...,P_5,P_6,P_7,P_8,P_9,P_10,P_11,P_12,P_13,P_14
8635,236,1990,41.8,1.698413,0.031746,1.984127,1.317460,0.650794,0.317460,2.888889,...,5.0,6.0,39.0,25.0,7.0,2.0,1.0,0.0,0.0,0.0
5638,157,2005,40.3,7.589286,9.339286,1.250000,2.142857,0.250000,2.392857,4.625000,...,16.0,17.0,6.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
18136,688,2006,39.0,0.603175,2.476190,0.666667,1.460317,2.253968,0.333333,0.015873,...,27.0,21.0,10.0,6.0,5.0,0.0,0.0,0.0,0.0,0.0
14775,582,1999,41.0,2.095238,1.638095,1.190476,1.457143,0.066667,0.923810,0.600000,...,15.0,37.0,14.0,5.0,1.0,1.0,0.0,0.0,0.0,0.0
2824,78,2005,38.0,21.023810,10.476190,0.523810,0.000000,1.119048,3.261905,3.380952,...,19.0,8.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
X = data.drop('yield', axis=1)
y = data['yield']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
def evaluate_regression_model(y_true, y_pred):
    mse = mean_squared_error(y_true, y_pred)
    rmse = mean_squared_error(y_true, y_pred, squared=False)
    mae = mean_absolute_error(y_true, y_pred)
    r2 = r2_score(y_true, y_pred)

    print("Mean Squared Error (MSE):", mse)
    print("Root Mean Squared Error (RMSE):", rmse)
    print("Mean Absolute Error (MAE):", mae)
    print("R-squared (R2):", r2)

In [11]:
from sklearn.preprocessing import MinMaxScaler
 # Create a MinMaxScaler object
scaler = MinMaxScaler()
 # Fit the scaler to the training data
scaler.fit(X_train)
 # Transform the training and testing data
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [15]:
X_train

,loc_ID,year,W_1_1,W_1_2,W_1_3,W_1_4,W_1_5,W_1_6,W_1_7,W_1_8,...,P_5,P_6,P_7,P_8,P_9,P_10,P_11,P_12,P_13,P_14
22493,839,2007,0.375000,0.071429,2.089286,0.000000,0.017857,0.000000,2.178571,2.071429,...,31.000000,30.000000,8.000000,11.000000,3.000000,0.000000,0.000000,0.0,0.0,0.0
23160,866,1995,0.000000,0.337143,1.045714,0.000000,0.062857,0.000000,0.125714,0.000000,...,23.473684,23.894737,17.157895,10.578947,4.947368,1.526316,0.263158,0.0,0.0,0.0
22211,829,1994,0.155844,0.292208,0.116883,1.344156,0.136364,0.162338,0.474026,2.961039,...,43.000000,26.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
4714,131,1988,0.857143,0.111111,13.476190,0.492063,12.206349,0.761905,2.222222,2.269841,...,23.000000,11.000000,8.000000,2.000000,0.000000,0.000000,1.000000,0.0,0.0,0.0
3437,95,2004,3.678571,0.092857,2.450000,1.650000,2.221429,1.485714,0.000000,1.035714,...,24.000000,15.000000,7.000000,6.000000,11.000000,1.000000,0.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21575,810,1993,0.000000,2.655462,0.551821,0.000000,0.156863,2.851541,1.857143,0.717087,...,12.000000,33.000000,22.000000,22.000000,5.000000,3.000000,0.000000,1.0,0.0,0.0
5390,151,1983,0.000000,0.238095,1.809524,3.547619,4.142857,0.523810,0.000000,0.000000,...,10.000000,15.000000,30.000000,20.000000,15.000000,5.000000,0.000000,0.0,0.0,0.0
860,23,2014,4.535714,2.303571,0.714286,0.000000,3.321429,1.732143,1.464286,1.714286,...,10.000000,28.000000,21.000000,7.000000,2.000000,2.000000,0.000000,0.0,0.0,0.0
15795,615,2014,0.266667,0.523810,0.657143,0.742857,0.200000,0.000000,1.433333,3.823810,...,12.000000,33.000000,26.000000,11.000000,7.000000,2.000000,0.000000,0.0,0.0,0.0
23654,892,2013,0.000000,0.729323,0.097744,0.000000,0.571429,1.924812,0.443609,0.000000,...,16.000000,14.000000,18.000000,18.000000,18.000000,5.000000,3.000000,0.0,0.0,0.0

In [13]:
from sklearn.linear_model import LinearRegression
 # Create a Linear Regression model
model = LinearRegression()
 # Train the model on the training data
model.fit(X_train, y_train)
 # Predict the yield values for the test data
y_pred = model.predict(X_test)
evaluate_regression_model(y_test, y_pred)

Mean Squared Error (MSE): 26.99323874604313
Root Mean Squared Error (RMSE): 5.19550178000577
Mean Absolute Error (MAE): 3.9241602020166857
R-squared (R2): 0.7732519677937768

In [12]:
from sklearn.linear_model import LinearRegression
 # Create a Linear Regression model
model = LinearRegression()
 # Train the model on the training data
model.fit(X_train_scaled, y_train)
 # Predict the yield values for the test data
y_pred = model.predict(X_test_scaled)
evaluate_regression_model(y_test, y_pred)

Mean Squared Error (MSE): 26.993238746042906
Root Mean Squared Error (RMSE): 5.195501780005749
Mean Absolute Error (MAE): 3.924160202016681
R-squared (R2): 0.7732519677937788

In [6]:
from sklearn.tree import DecisionTreeRegressor

# Create a Decision Tree Regression model
model = DecisionTreeRegressor()

# Train the model on the training data
model.fit(X_train, y_train)

# Predict the yield values for the test data
y_pred = model.predict(X_test)

evaluate_regression_model(y_test, y_pred)

Decision Tree Regression Metrics:
Mean Squared Error (MSE): 30.75166896823831
Root Mean Squared Error (RMSE): 5.545418736961016
Mean Absolute Error (MAE): 3.8970408364568954
R-squared (R2): 0.7416804818715075

In [ ]:
from sklearn.ensemble import RandomForestRegressor

# Create a Random Forest Regression model
model = RandomForestRegressor()

# Train the model on the training data
model.fit(X_train, y_train)

# Predict the yield values for the test data
y_pred = model.predict(X_test)

evaluate_regression_model(y_test, y_pred)

In [19]:
from sklearn.svm import SVR

# Create a Support Vector Regression model
model = SVR()

# Train the model on the training data
model.fit(X_train, y_train)

# Predict the yield values for the test data
y_pred = model.predict(X_test)

evaluate_regression_model(y_test, y_pred)

In [10]:
X_train.shape

(20276, 394)

In [14]:
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense

n_features = 394

# Define the model
model = Sequential()
model.add(Dense(64, activation='relu', input_shape=(n_features,)))
model.add(Dense(32, activation='relu'))
model.add(Dense(1))  # Output layer

# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

# Train the model
model.fit(X_train, y_train, epochs=10, batch_size=32)

# Predict the yield values for the test data
y_pred = model.predict(X_test)

Epoch 1/10
634/634 [==============================] - 3s 3ms/step - loss: 2162.9629
Epoch 2/10
634/634 [==============================] - 2s 3ms/step - loss: 163.3569
Epoch 3/10
634/634 [==============================] - 2s 3ms/step - loss: 100.6167
Epoch 4/10
634/634 [==============================] - 2s 3ms/step - loss: 79.3953
Epoch 5/10
634/634 [==============================] - 2s 3ms/step - loss: 64.0746
Epoch 6/10
634/634 [==============================] - 2s 3ms/step - loss: 56.5537
Epoch 7/10
634/634 [==============================] - 2s 3ms/step - loss: 53.3375
Epoch 8/10
634/634 [==============================] - 2s 3ms/step - loss: 53.2553
Epoch 9/10
634/634 [==============================] - 2s 3ms/step - loss: 52.5156
Epoch 10/10
634/634 [==============================] - 2s 3ms/step - loss: 46.0778
159/159 [==============================] - 0s 2ms/step

In [13]:
# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error (MSE):", mse)
print("Root Mean Squared Error (RMSE):", rmse)
print("Mean Absolute Error (MAE):", mae)
print("R-squared (R2):", r2)

Mean Squared Error (MSE): 88.38889073420481
Root Mean Squared Error (RMSE): 9.401536615586028
Mean Absolute Error (MAE): 7.977565396215395
R-squared (R2): 0.25751751275827495